<div class="content">
  <app-search-bar class="search-bar"/>

  <p class="results-label">Results: {{ articles().length }}</p>
  <mat-divider/>

  @if (isLoading()) {
    <div class="spinner-container">
      <mat-spinner class="spinner"/>
    </div>
  } @else {
    <app-articles-list class="articles-list" [articles]="articles()"/>

    @if (articles().length > 0) {
      <mat-paginator (page)="onPagination($event)"
                     [length]="total()"
                     [pageSize]="pageSize()"
                     [pageIndex]="pageIndex()"
                     [pageSizeOptions]="PAGE_SIZE_OPTIONS">
      </mat-paginator>
    }
  }
</div>
