:host {
  width: 100%;
}

.content {
  padding: 2rem;
  width: fit-content;
  margin: 0 auto 0 auto;
}

.search-bar {
  width: 100%;
  @media (min-width: 1024px) {
    width: 50%;
  }
}

.results-label {
  font-weight: 550;
}

.articles-list {
  margin-top: 2.5rem;
}
